<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Hello World!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/employees.css}">
    <script>
        function showBankAccount() {
            // Your logic to determine whether to show the bank account or not
            return true; // For demonstration purposes, always show the bank account
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">

    <a class="navbar-brand" th:href="@{/home}"> Delicious corner <img th:src="@{/backgrounds/logo.png}" alt=""
                                                                      id="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" id="menu">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/products}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/promotions}">Promotions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/basket}">Basket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/searchByIngredient}">Search by ingredients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">Employees</a>
            </li>
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out" class="btn btn-primary"/>
                </form>
            </li>

        </ul>
    </div>
</nav>
<div class="container-fluid">

    <div class="row" th:each="user:${employees}">
        <div class="col-lg-4 offset-lg-4" >
            <table class="table">
                <tr>
                    <td>
                        <img class="card-image" th:src="@{'/staff/' + ${user._id} + '.jpg'}"/>
                    </td>
                </tr>

                <tr>
                    <td th:text="${user.firstname +' '+user.lastname}"></td>

                </tr>
                <tr>
                    <td th:text="${user.usertype}"></td>
                </tr>
                <tr>
                    <td th:text="${user.address}"></td>
                </tr>
                <tr hidden>
                    <td hidden>Bank account number</td>
                    <td th:text="${user.bankAccount}" hidden>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
