<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login page </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>

    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class=" offset-lg-3 col-lg-6" >
            <h2 align="center"> Here you can find every log created, hope you'll find what you're looking for! </h2>
        </div>
    </div>
    <div class="row">
        <div class=" col" >
            <ul style="list-style-type: none;">
                <li th:each="log : ${logs}" th:text="${log}"></li>
            </ul>
        </div>
    </div>


</div>
</div>
</body>
</html>