<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Promotions</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script  defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <link rel="stylesheet" th:href="@{/css/promotions.css}" >
  <script th:inline="javascript">
    /*<![CDATA[*/
    function promotion(promotionId) {
      window.location.href = '/promotion/' + promotionId;
    }
    /*]]>*/
  </script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">

  <a class="navbar-brand" th:href="@{/home}"> Delicious corner <img th:src="@{/backgrounds/logo.png}" alt="" id="logo"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" id="menu">

      <li class="nav-item">
        <a class="nav-link" th:href="@{/products}">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/promotions}">Promotions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/basket}">Basket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/searchByIngredient}">Search by ingredients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/employees}">Employees</a>
      </li>
      <li class="nav-item">
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Sign Out" class="btn btn-primary"/>
        </form>
      </li>

    </ul>
  </div>
</nav>
<div class="container-fluid" >

  <div class="row">
    <div class="col-lg-12" id="title">
      Promotions
    </div>
  </div>

  <div class="row sameheight" th:each="promotion : ${promotions}">
    <div class="offset-lg-3 col-lg-6 cold-md-4 col-sm-6 info-sameheight" >

      <div class="mat-card card">
        <div class="mat-card-header card-header">
          <div th:text="${promotion.name}" class="mat-card-title card-title" th:onclick="'promotion(\'' + ${promotion._id} + '\')'"> </div>
        </div>

        <div class="mat-card-content card-content" >
          <img mat-card-image class="mat-card-image" th:src="@{'/promotions/' + ${promotion._id} + '.' + ${promotion.image}}" th:onclick="'promotion(\'' + ${promotion._id} + '\')'">
        </div>
<!--        <mat-card-actions >-->
<!--          {{promotion.description}}-->
<!--        </mat-card-actions>-->
      </div>

    </div>
  </div>
</div>
</body>
</html>